body {
  font-family: "Open Sans";
}
.navRight {
  font-size: 14px;
}
.contentBackground {
  background-image: url("./img/contentBackground.png");
  background-color: black;
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
.logo:hover {
  opacity: 0.7;
}
.image1:hover {
  opacity: 0.7;
}

/* overlay start */
.image1 {
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image1:hover .overlay {
  display: block;
}

.image2 {
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image2:hover .overlay {
  display: block;
}
.image3 {
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image3:hover .overlay {
  display: block;
}
.image4 {
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image4:hover .overlay {
  display: block;
}
/* overlay end */

.hoverchange:hover {
  background-color: #3a454d !important;
}
.hoverchange:hover p {
  color: white !important;
}

.image1 {
  background-image: url("./img/image1.png");
  background-color: black;
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 230px;
}
.image2:hover {
  opacity: 0.7;
}

.image2 {
  background-image: url("./img/image2.png");
  background-color: black;
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 230px;
}
.image3:hover {
  opacity: 0.7;
}
.image3 {
  background-image: url("./img/image3.png");
  background-color: black;
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 230px;
}
.image4:hover {
  opacity: 0.7;
}
.image4 {
  background-image: url("./img/image4.png");
  background-color: black;
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 230px;
}
.lovely-1 {
  background-image: url("./img/lovely1.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 230px;
}
.lovely-1:hover {
  opacity: 0.7;
}
.lovely-2 {
  background-image: url("./img/lovely2.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 230px;
}
.lovely-2:hover {
  opacity: 0.7;
}

.lovely-3 {
  background-image: url("./img/lovely3.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 230px;
}
.lovely-3:hover {
  opacity: 0.7;
}

.lovely-4 {
  background-image: url("./img/lovely4.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 230px;
}
.lovely-4:hover {
  opacity: 0.7;
}
.lovely-5 {
  background-image: url("./img/lovely5.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 230px;
}
.lovely-5:hover {
  opacity: 0.7;
}
.lovely-6 {
  background-image: url("./img/lovely6.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 230px;
}
.lovely-6:hover {
  opacity: 0.7;
}

.whatwedo-1 {
  background-image: url("./img/whatwedo1.png");
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50px;

  position: relative;
}
.whatwedo-2 {
  background-image: url("./img/whatwedo2.png");
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50px;

  position: relative;
}
.whatwedo-3 {
  background-image: url("./img/whatwedo3.png");
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 30px;
  position: relative;
}
.whatwedo-4 {
  background-image: url("./img/whatwedo4.png");
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50px;
  position: relative;
}
.features-1 {
  background-image: url("./img/features1.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 230px;
}
.features-1:hover {
  opacity: 0.7;
}
.features-2 {
  background-image: url("./img/features2.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 230px;
}
.features-2:hover {
  opacity: 0.7;
}
.features-3 {
  background-image: url("./img/features3.png");
  background-position: center center;
  background-size: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 230px;
}
.features-3:hover {
  opacity: 0.7;
}

.map {
  background-image: url("./img/map.png");
  /* background-color: black; */
  background-position:center;

  background-repeat: no-repeat;
  background-size:contain;
  height: 300px;
  
}

.box{
  background-color: #ffffff;
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  height:150px;
  /* width:-100px; */
  margin-top: -140px;
}
